{% extends 'frontend/base.html' %}
{% load static %}
{% block body %}
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>Product</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? About Area-2 Start -->
    <section class="about-area2 fix pb-padding pt-50 pb-80">
        <div class="support-wrapper align-items-center">
            <div class="right-content2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" >
                <!-- img -->
                <div class="right-img">
                    <img src="{% static 'assets/img/gallery/about.png' %}" alt="">
                </div>
            </div>
            <div class="left-content2">
                <!-- section tittle -->
                <div class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="front-text">
                        <h2 style="font-size: 50px;" >OUR PROCESS</h2>
                        <p style="text-align: justify;">At The Fit India Company (FICoy), we have a common interest of providing the finest health
                            measures to everyone. Our practice is absolutely based on modern science, yet it has that natural
                            essence in it. We customize the health plans for our clients with factual approaches and we ensure
                            that your concerns are met fully. In possession of our knowledge, we whole heartedly work towards
                            mentoring you to find your own fit. </p>
                        <p class="mb-40" style="text-align: justify;">We figure out the troublesome spot that is hindering you with
                            your health improvements, and design solutions for the bliss of your tranquility of your mind, body,
                            and souls.</p>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->
    <!--? Team -->
    
    <section class="team-area pt-80">
        <div class="container">
            
            <div class="row">
                {% for i in pro %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-cat text-center mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" >
                        <div class="cat-icon" >
                            <img src="{{ i.image.url }}" style="width: 250px;height: 350px;">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">{{ i.name }}</a></h5>
                            <p>{{ i.discription }}</p>
                            <a href="" class="btn">Buy Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Services End -->
{% endblock %}